Repository IwannabeRealnerD/nextjs-starter-kit, changes with the labels that .github/labeler.yml gives for each.
All labels: pages, constants, CI

.github/labeler.yml:

pages:
  - changed-files:
      - any-glob-to-any-file:
          - src/pages/**
constants:
  - changed-files:
      - any-glob-to-any-file:
          - src/constants/**
CI:
  - changed-files:
      - any-glob-to-any-file:
          - ".github/**"

[test] labler
  src/pages/_document.page.tsx
Labels: pages

[test] labler
  .github/workflows/auto-label.yaml
Labels: CI

[test] labler
  .github/workflows/auto-label.yaml
Labels: CI

[test] labler
  .github/workflows/auto-label.yaml
Labels: CI

[test] labler
  .github/workflows/auto-label.yaml
Labels: CI

[test] labler
  .github/workflows/auto-label.yaml
Labels: CI

[test] labler
  .github/workflows/auto-label.yaml
Labels: CI

[test] labler
  .github/workflows/auto-label.yaml
Labels: CI

[test] labler
  .github/workflows/auto-label.yaml
Labels: CI

[test] labler
  .github/workflows/auto-label.yaml
Labels: CI

[test] labler
  .github/workflows/auto-label.yaml
Labels: CI

[test] labler
  .github/workflows/auto-label.yaml
Labels: CI

[test] labler
  .github/workflows/auto-label.yaml
Labels: CI

[test] labler
  .github/workflows/auto-label.yaml
Labels: CI

[test] labler
  .github/workflows/auto-label.yaml
Labels: CI

[test] labler
  .github/workflows/auto-label.yaml
Labels: CI

[test] labler
  .github/workflows/auto-label.yaml
Labels: CI

[test] labler
  .github/workflows/auto-label.yaml
Labels: CI

[test] labler
  .github/workflows/auto-label.yaml
Labels: CI

[test] labler
  .github/workflows/auto-label.yaml
Labels: CI

[test] labler
  .github/workflows/auto-label.yaml
Labels: CI

[test] labler
  .github/workflows/auto-label.yaml
Labels: CI

[test] labler
  .github/workflows/auto-label.yaml
Labels: CI

[test] labler
  .github/workflows/auto-label.yaml
Labels: CI

[test] labler
  .github/workflows/auto-label.yaml
Labels: CI

[test] labler
  .github/workflows/auto-label.yaml
Labels: CI

[test] labler
  .github/workflows/auto-label.yaml
Labels: CI

[test] labler
  .github/workflows/auto-label.yaml
Labels: CI

[test] labler
  .github/workflows/auto-label.yaml
Labels: CI

[test] labler
  .github/workflows/auto-label.yaml
Labels: CI

[test] labler
  .github/workflows/auto-label.yaml
Labels: CI

[test] labler
  .github/workflows/auto-label.yaml
Labels: CI

[test] labler
  src/pages/_document.page.tsx
Labels: pages

[test] labler
  .github/workflows/auto-label.yaml
  src/pages/_document.page.tsx
Labels: pages, CI

[test] labler
  .github/workflows/auto-label.yaml
Labels: CI

[test] labler
  .github/workflows/auto-label.yaml
Labels: CI

[test] labler
  .github/workflows/auto-label.yaml
Labels: CI

[test] labler
  .github/workflows/auto-label.yaml
Labels: CI

[test] labler
  .github/workflows/auto-label.yaml
Labels: CI

[test] labler
  .github/workflows/auto-label.yaml
Labels: CI
